 <!--================Home Banner Area =================-->
 <section class="home_banner_area">
    <div class="banner_inner">
        <div class="container">
            <div class="banner_content">
                <h2>Welcome To <br />Mindise Venting Chat</h2> 
                
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Welcome Area =================-->
<section class="welcome_area p_120">
    <div class="container">
        <div class="welcome_inner row">
            <div class="col-lg-5">
                <div class="welcome_img">
                </div>
            </div>
                <!-- <div class="welcome_text">
                    <h3 class="text-center">MV Chat</h3>
                   

                </div> -->
                <div class="col-md-8 col-sm-12 offset-md-2">
                    <div class="card">
                        <div class="card-header"> 
                          <h4 class="strong">Name: {{showForm ? 'Please enter your name':nickName}}</h4>
                          <h4 class="strong">Current Channel: {{showForm ? 'Awaiting Channel Name':channel|uppercase}}</h4>
                        </div>
                        <div class="card-body">
                            <form #f="ngForm" (ngSubmit)="joinChannel()" *ngIf="showForm">
                                <div class="form-group" [ngClass]="{
                                  'has-error': nick.invalid && (nick.dirty || nick.touched),
                                   'has-success': nick.valid && (nick.dirty || nick.touched)}">
                                 <input type="text" class="form-control" #nick="ngModel" required [(ngModel)]="item.nick" name="nick" placeholder="Enter your nick name"/>
                                 <div class="text-danger" *ngIf="nick.errors && (nick.dirty || nick.touched)">
                                  <p *ngIf="nick.errors.required"> Enter your Name</p> 
                                </div>
                                </div>
                                <div class="form-group" [ngClass]="{
                                  'has-error': channel.invalid && (channel.dirty || channel.touched),
                                   'has-success': channel.valid && (channel.dirty || channel.touched)}">
                                  <input type="text" class="form-control" name="channel" required #channel="ngModel" [(ngModel)]="item.channel" placeholder="Create a channel to invite your friends"/>
                                  <div class="text-danger" *ngIf="channel.errors && (channel.dirty || channel.touched)">
                                    <p *ngIf="channel.errors.required"> Create new channel to continue </p>
                
                           </div>
                                 </div>
                               <div class="action float-right">
                                   <button type="submit" [disabled]="!f.valid" class="tickets_btn">Join Chat</button>
                               </div> 
                            </form>
                            <div class="container" *ngIf="nickName && channel ">
                                    <h4 class=" text-center">Welcome to MV chatting system</h4>
                                    
                                    <div class="messaging">
                                      
                                          <div class="inbox_msg">
                                           <div class="inbox_people" >
                                              <div class="headind_srch">
                                                <div class="recent_heading">
                                                  <h4>Menu</h4>
                                                </div>
                                               
                                              </div>
                                              <div class="inbox_chat"> 
                                                   
                                                <div class="chat_list">
                                                    <ul class="list-unstyled">
                                                        <li class="list-item"><a class="ticket_btn tickets_btn" (click)="disconnect()"><i class="fa fa-close" aria-hidden="true"></i> Disconnect</a></li>
                                                        <!-- <li class="list-item"><a  class="tickets_btn"><i class="fa fa-reply" aria-hidden="true"></i> Invite</a></li>
                                                         -->
                                                      </ul>
                                                </div>
                                                
                                              </div>
                                            </div> 
                                            <div class="mesgs" >

                                              <div class="msg_history" #viewer>
                                                  
                                                <div [ngClass]="{'outgoing_msg': item.nick === nickName, 'incoming_msg': item.nick !== nickName}" *ngFor="let item of serverMessages"><!-- 
                                                  <div  [ngClass]="{'incoming_msg_img': item.nick !== nickName}"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div> -->
                                                  <div class="received_msg" *ngIf="item.nick !== nickName && item.text && item.time">
                                                    <div class="received_withd_msg"> 
                                                      <p>{{item.text}}
                                                        <br/><small>{{item.nick}}</small>
                                                      </p>
                                                      <span class="time_date"> {{item.time | date:'medium'}}</span>
                                                    </div>
                                                  </div>
                                                  <div class="sent_msg" *ngIf="item.nick === nickName && item.time && item.text">
                                                      <p>{{item.text}}
                                                          <br/><small>{{item.nick}}</small>

                                                        </p>
                                                      <span class="time_date">{{item.time | date:'medium'}}</span>
                                                    </div>
                                                 
                                                </div>  
                                              </div>
                                              <div class="type_msg">
                                                <div class="input_msg_write">
                                                  <input type="text" class="write_msg" [(ngModel)]="message" (keydown)="onKeydown($event)" placeholder="Write a message" />
                                                  <button class="msg_send_btn" type="button" (click)="submitChat()"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button> 
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          
                                          
                                          
                                          
                                        </div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<!--================End Welcome Area =================-->