 <!--================Home Banner Area =================-->
 <section class="home_banner_area">
    <div class="banner_inner">
        <div class="container">
            <div class="banner_content">
                <h2>Welcome To <br />Mindise Venting</h2>
                <p>We're Here To Listen.</p>
                <a class="banner_btn" href="services.html">Book Now</a>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Welcome Area =================-->
<section class="welcome_area p_120">
    <div class="container">
        <div class="welcome_inner row">
            <div class="col-lg-5">
                <div class="welcome_img">
                    <img class="img-fluid" src="assets/img/welcome-1.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1">
                <div class="welcome_text">
                    <h3>About Mindise Venting</h3>
                    <p>Here at Mindise Venting, we try our utmost best to listen and provide the appropriate advice when needed. We are a venting website where people can freely vent without being judged or shamed.</p>
                    <a class="main_btn" href="about.html">More Details</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Welcome Area =================-->




<!--================Welcome Services =================-->
<section class="welcome_area ourservices mgn-btm">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p class="main_title"><span>Our Services</span></p>
          </div>
        </div>
        <div class="row">

    <!-- 1 Session -->
    <div class="col-md-4">
    <div class="gaga">
    <div class="gaga2">
     <span class="fa-stack">1</span> </div>
         <div class="info">
           <h4 class="text-center">1 Session</h4>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
       </div>
     </div>
   </div>

    <!-- Basic Subscription -->
    <div class="col-md-4">
    <div class="gaga">
    <div class="gaga2">
     <span class="fa-stack">2</span> </div>
         <div class="info">
           <h4 class="text-center">Basic Subscription</h4>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
       </div>
     </div>
   </div>

    <!-- Premium Subscription -->
    <div class="col-md-4">
    <div class="gaga">
    <div class="gaga2">
     <span class="fa-stack">3</span> 
    </div>
         <div class="info">
           <h4 class="text-center">Premium Subscription</h4>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
       </div>
     </div>
   </div>

     <!-- Custom Subscription -->
     <div class="gaga">
     <div class="gaga2">
      <span class="fa-stack">4</span> </div>
                <div class="info">
                  <h4 class="text-center">Custom Subscription</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
              </div>
      </div>
</div>
</div>
</section>
<!--================Welcome Services =================-->





<!--================Price Area =================-->
<section class="price_area p_120">
    <div class="container">
        <div class="main_title">
            <h2>Services Pricing</h2>
            <p>We offer a variety of plans and even a custom plan so that you may be as flexible as you want with us.</p>
        </div>
        <div class="price_inner row m0">
            <div class="col-lg-3 col-sm-6 p0">
                <div class="price_item">
                    <div class="price_text">
                        <h3>1 Session</h3>
                        <h5></h5>
                        <h2>$10</h2>
                        <ul class="list">
                            <li><a href="#">1 Session in total.</a></li>
                            <li><a href="#">Customize your date and time in the next step!</a></li>
                        </ul>
                    </div>
                    <a class="price_btn" href="#">Get Started</a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 p0">
                <div class="price_item">
                    <div class="price_text">
                        <h3>Basic Subscription</h3>
                        <h5></h5>
                        <h2>$40<span>/mo</span></h2>
                        <ul class="list">
                            <li><a href="#">2 Sessions a week for 1 month.</a></li>
                            <li><a href="#">8 Sessions in total.</a></li>
                            <li><a href="#">Customize your dates and times in the next step!</a></li>
                        </ul>
                    </div>
                    <a class="price_btn" href="#">Get Started</a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 p0">
                <div class="price_item">
                    <div class="price_text">
                        <h3>Premium Subscription</h3>
                        <h5></h5>
                        <h2>$80<span>/3mo</span></h2>
                        <ul class="list">
                            <li><a href="#">2 Sessions a week for 3 months.</a></li>
                            <li><a href="#">24 Sessions in total.</a></li>
                            <li><a href="#">Customize your dates and times in the next step!</a></li>
                        </ul>
                    </div>
                    <a class="price_btn" href="#">Get Started</a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 p0">
                <div class="price_item">
                    <div class="price_text">
                        <h3>Custom Subscription</h3>
                        <h5></h5>
                        <h2>TBD</h2>
                        <ul class="list">
                            <li><a href="#">Email us for a custom plan!</a></li>
                            <li><a href="#">Please allow up to 24 hours for a reply :)</a></li>
                        </ul>
                    </div>
                    <a class="price_btn" href="#">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Price Area =================-->