 <!--================Home Banner Area =================-->
 <section class="home_banner_area">
    <div class="banner_inner">
        <div class="container">
            <div class="banner_content">
                <h2>Welcome To <br />Mindise Venting</h2>
                <p>We're Here To Listen.</p>
                <a class="banner_btn" href="services.html">Book Now</a>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Welcome Area =================-->
<section class="welcome_area p_120">
    <div class="container">
        <div class="welcome_inner row">
            <div class="col-lg-5">
                <div class="welcome_img">
        </div>
    </div>
</div>
</div>
</section>
<!--================End Welcome Area =================-->