  <!--================Home Banner Area =================-->
  <section class="home_banner_area">
    <div class="banner_inner">
        <div class="container">
            <div class="banner_content">
                <h2>Welcome To <br />Mindise Venting</h2>
                <p>We're Here To Listen.</p>
                <a class="banner_btn" href="services.html">Book Now</a>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Welcome Area =================-->
<section class="welcome_area p_120">
    <div class="container">
        <div class="welcome_inner row">
            <div class="col-lg-5">
                <div class="welcome_img">
                    <img class="img-fluid" src="assets/img/welcome-1.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1">
                <div class="welcome_text">
                    <h3>About Mindise Venting</h3>
                    <p>Here at Mindise Venting, we try our utmost best to listen and provide the appropriate advice when needed. We are a venting website where people can freely vent without being judged or shamed.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Welcome Area =================-->